.yarm{
    background-color: deepskyblue;
}
.nnnn{
    border: 2px solid white;

    margin-left: 400px;
    margin-top: 40px;
}
.teng{
    margin-left: 300px;
}
.teng1{
    margin-left: 500px;
}
.yarm2{
    background-color: red;
}